*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}
body{
  min-height: 100vh;
}
#root,#app,#app__window{
  display: flex;
}
#root{
  min-height: 100vh;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #141010;
  background-image: url('assets/images/tesla_einstein_2.jpg');
  justify-content: center;
  align-items: center;
}
#app{
  justify-content: center;
  align-items: center;
  background: #111a;
  backdrop-filter: blur(2px);
  width: 700px;
  height: 645px;
}
#app__window{
  flex-direction: column;
  justify-content:space-around;
  height: 200px;
  padding: 16px;
}
#window__title{
  color: #FFF;
  font-size: 2em;
}

#window__input-number{
  text-align: center;
  background: transparent;
  outline: none;
  border: 2px solid #999;
  color: #FFF;
  padding: 8px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.buttons{
  background: #9994;
  color: #FFF;
  border: none;
  padding: 8px;
  font-size: 1.3em;
}
.buttons:hover {
  cursor: pointer;
}

#app__message{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #333;
  width: 330px;
  height: 160px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#app__phrases{
  color: #FFF;
  text-align: center;
}

#message__loadingBarContainer{
  width: 90%;
  border: 1px solid #FFF;
  padding: 2px;
}
#loadingBarContainer__loadingBar{
  height: 12px;
  width: 0;
  background: #FFF;
}

#app__result{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background: #2229;
  width: 100vw;
  height: 100vh;
}
#result__title{
  color: #FFF;
  margin-bottom: 30px;
  font-size: 1.7em;
}

@media screen AND (max-width:705px){
  #root{
    width: 100vw;
    height: 100vw;
    background-size: cover;
    background-position: center;
  }
  
  #app{
    height: 100vh;
  }
  #app__window{
    height: 200px; 
  }
}

@media screen AND (max-width:450px){
  #root{
    background-size: 100%;
  }
  #app__window{
    height: 200px; 
  }
  #window__title{
    font-size: 1.5em;
  }
  #app__message{
    width: 100vw;
    height: 200px;
  }
  
  .buttons{
    padding: 16px;
  }
}